USE [Igora]
GO
/****** Object:  Table [dbo].[clients$]    Script Date: 12.02.2025 3:02:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clients$](
	[id_client] [int] IDENTITY(1,1) NOT NULL,
	[fio] [nvarchar](255) NULL,
	[code] [float] NULL,
	[pasport] [nvarchar](255) NULL,
	[born_date] [date] NULL,
	[address] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[password] [nvarchar](255) NULL,
	[rating] [int] NULL,
 CONSTRAINT [PK_clients$] PRIMARY KEY CLUSTERED 
(
	[id_client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[enter_type$]    Script Date: 12.02.2025 3:02:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[enter_type$](
	[id_type] [int] IDENTITY(1,1) NOT NULL,
	[type] [nvarchar](255) NULL,
 CONSTRAINT [PK_enter_type$] PRIMARY KEY CLUSTERED 
(
	[id_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders$]    Script Date: 12.02.2025 3:02:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders$](
	[id_order] [int] IDENTITY(1,1) NOT NULL,
	[order_number] [int] NULL,
	[code] [nvarchar](255) NULL,
	[create_time] [datetime] NULL,
	[order_time] [datetime] NULL,
	[id_client] [int] NULL,
	[id_service] [int] NULL,
	[status_id] [int] NULL,
	[close_date] [datetime] NULL,
	[session_minutes] [int] NULL,
 CONSTRAINT [PK_orders$] PRIMARY KEY CLUSTERED 
(
	[id_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[posts$]    Script Date: 12.02.2025 3:02:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[posts$](
	[id_post] [int] IDENTITY(1,1) NOT NULL,
	[post] [nvarchar](255) NULL,
 CONSTRAINT [PK_posts$] PRIMARY KEY CLUSTERED 
(
	[id_post] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[services$]    Script Date: 12.02.2025 3:02:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[services$](
	[id_service] [int] IDENTITY(1,1) NOT NULL,
	[service] [nvarchar](255) NULL,
	[code_service] [nvarchar](255) NULL,
	[cost] [float] NULL,
	[available] [nvarchar](255) NULL,
 CONSTRAINT [PK_services$] PRIMARY KEY CLUSTERED 
(
	[id_service] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[statuses$]    Script Date: 12.02.2025 3:02:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[statuses$](
	[id_status] [int] IDENTITY(1,1) NOT NULL,
	[status] [nvarchar](255) NULL,
 CONSTRAINT [PK_statuses$] PRIMARY KEY CLUSTERED 
(
	[id_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[worker$]    Script Date: 12.02.2025 3:02:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[worker$](
	[id_worker] [int] IDENTITY(1,1) NOT NULL,
	[id_post] [int] NULL,
	[fio] [nvarchar](255) NULL,
	[login] [nvarchar](255) NULL,
	[pass] [nvarchar](255) NULL,
	[last_seen] [nvarchar](255) NULL,
	[id_type] [int] NULL,
 CONSTRAINT [PK_worker$] PRIMARY KEY CLUSTERED 
(
	[id_worker] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[clients$] ON 

INSERT [dbo].[clients$] ([id_client], [fio], [code], [pasport], [born_date], [address], [email], [password], [rating]) VALUES (1, N'Фролов Андрей Иванович', 45462526, N'Серия 1180 Номер 176596', CAST(N'2001-07-14' AS Date), N'344288, г. Санкт-Петербург, ул. Чехова, 1, кв. 34', N'gohufreilagrau-3818@yopmail.com', N'cl12345', 1)
INSERT [dbo].[clients$] ([id_client], [fio], [code], [pasport], [born_date], [address], [email], [password], [rating]) VALUES (2, N'Николаев Даниил Всеволодович', 45462527, N'Серия 2280 Номер 223523', CAST(N'2001-02-10' AS Date), N'614164, г. Санкт-Петербург, ул. Степная, 30, кв. 75', N'xawugosune-1385@yopmail.com', N'cl12346', 1)
INSERT [dbo].[clients$] ([id_client], [fio], [code], [pasport], [born_date], [address], [email], [password], [rating]) VALUES (3, N'Снегирев Макар Иванович', 45462528, N'Серия 4560 Номер 354155', CAST(N'1998-05-21' AS Date), N'394242, г. Санкт-Петербург, ул. Коммунистическая, 43, кв. 57', N'satrahuddusei-4458@yopmail.com', N'cl12347', 1)
SET IDENTITY_INSERT [dbo].[clients$] OFF
GO
SET IDENTITY_INSERT [dbo].[enter_type$] ON 

INSERT [dbo].[enter_type$] ([id_type], [type]) VALUES (1, N'Успешно')
INSERT [dbo].[enter_type$] ([id_type], [type]) VALUES (2, N'Неуспешно')
SET IDENTITY_INSERT [dbo].[enter_type$] OFF
GO
SET IDENTITY_INSERT [dbo].[orders$] ON 

INSERT [dbo].[orders$] ([id_order], [order_number], [code], [create_time], [order_time], [id_client], [id_service], [status_id], [close_date], [session_minutes]) VALUES (1, 1, N'45462526/12.03.2022', CAST(N'2022-03-12T00:00:00.000' AS DateTime), CAST(N'1899-12-30T09:10:00.000' AS DateTime), 1, 1, 3, NULL, 120)
INSERT [dbo].[orders$] ([id_order], [order_number], [code], [create_time], [order_time], [id_client], [id_service], [status_id], [close_date], [session_minutes]) VALUES (2, 1, N'45462526/12.03.2022', CAST(N'2022-03-12T00:00:00.000' AS DateTime), CAST(N'1899-12-30T09:10:00.000' AS DateTime), 1, 3, 3, NULL, 120)
INSERT [dbo].[orders$] ([id_order], [order_number], [code], [create_time], [order_time], [id_client], [id_service], [status_id], [close_date], [session_minutes]) VALUES (3, 1, N'45462526/12.03.2022', CAST(N'2022-03-12T00:00:00.000' AS DateTime), CAST(N'1899-12-30T09:10:00.000' AS DateTime), 1, 1, 3, NULL, 120)
GO
SET IDENTITY_INSERT [dbo].[orders$] OFF
GO
SET IDENTITY_INSERT [dbo].[posts$] ON 

INSERT [dbo].[posts$] ([id_post], [post]) VALUES (1, N'Продавец')
INSERT [dbo].[posts$] ([id_post], [post]) VALUES (2, N'Администратор')
INSERT [dbo].[posts$] ([id_post], [post]) VALUES (3, N'Старший смены')
SET IDENTITY_INSERT [dbo].[posts$] OFF
GO
SET IDENTITY_INSERT [dbo].[services$] ON 

INSERT [dbo].[services$] ([id_service], [service], [code_service], [cost], [available]) VALUES (1, N'Прокат лыж', N'8HFJHG422', 900, N'Есть')
INSERT [dbo].[services$] ([id_service], [service], [code_service], [cost], [available]) VALUES (2, N'Прокат лыжных палок', N'87FDJKHJ', 100, N'Есть')
INSERT [dbo].[services$] ([id_service], [service], [code_service], [cost], [available]) VALUES (3, N'Прокат сноуборда', N'JUR8R', 1200, N'Есть')
SET IDENTITY_INSERT [dbo].[services$] OFF
GO
SET IDENTITY_INSERT [dbo].[statuses$] ON 

INSERT [dbo].[statuses$] ([id_status], [status]) VALUES (1, N'Новая')
INSERT [dbo].[statuses$] ([id_status], [status]) VALUES (2, N'В прокате')
INSERT [dbo].[statuses$] ([id_status], [status]) VALUES (3, N'Закрыта')
SET IDENTITY_INSERT [dbo].[statuses$] OFF
GO
SET IDENTITY_INSERT [dbo].[worker$] ON 

INSERT [dbo].[worker$] ([id_worker], [id_post], [fio], [login], [pass], [last_seen], [id_type]) VALUES (1, 1, N'Иванов Иван Иванович', N'Ivanov@namecomp.ru', N'2L6KZG', N'15:05:2022 13:13:00', 1)
INSERT [dbo].[worker$] ([id_worker], [id_post], [fio], [login], [pass], [last_seen], [id_type]) VALUES (2, 1, N'Петров Петр Петрович', N'petrov@namecomp.ru', N'uzWC67', N'15:05:2022 13:13:00', 1)
INSERT [dbo].[worker$] ([id_worker], [id_post], [fio], [login], [pass], [last_seen], [id_type]) VALUES (3, 2, N'Федоров Федор Федорович', N'fedorov@namecomp.ru', N'8ntwUp', N'15:05:2022 13:13:00', 1)
SET IDENTITY_INSERT [dbo].[worker$] OFF
GO
ALTER TABLE [dbo].[orders$]  WITH CHECK ADD  CONSTRAINT [FK_orders$_clients$] FOREIGN KEY([id_client])
REFERENCES [dbo].[clients$] ([id_client])
GO
ALTER TABLE [dbo].[orders$] CHECK CONSTRAINT [FK_orders$_clients$]
GO
ALTER TABLE [dbo].[orders$]  WITH CHECK ADD  CONSTRAINT [FK_orders$_services$] FOREIGN KEY([id_service])
REFERENCES [dbo].[services$] ([id_service])
GO
ALTER TABLE [dbo].[orders$] CHECK CONSTRAINT [FK_orders$_services$]
GO
ALTER TABLE [dbo].[orders$]  WITH CHECK ADD  CONSTRAINT [FK_orders$_statuses$] FOREIGN KEY([status_id])
REFERENCES [dbo].[statuses$] ([id_status])
GO
ALTER TABLE [dbo].[orders$] CHECK CONSTRAINT [FK_orders$_statuses$]
GO
ALTER TABLE [dbo].[worker$]  WITH CHECK ADD  CONSTRAINT [FK_worker$_enter_type$] FOREIGN KEY([id_type])
REFERENCES [dbo].[enter_type$] ([id_type])
GO
ALTER TABLE [dbo].[worker$] CHECK CONSTRAINT [FK_worker$_enter_type$]
GO
ALTER TABLE [dbo].[worker$]  WITH CHECK ADD  CONSTRAINT [FK_worker$_posts$] FOREIGN KEY([id_post])
REFERENCES [dbo].[posts$] ([id_post])
GO
ALTER TABLE [dbo].[worker$] CHECK CONSTRAINT [FK_worker$_posts$]
GO
